* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #333;
}

header {
    background-color: #2e86ab;
    color: white;
    text-align: center;
    padding: 40px 20 px;
}

nav {
    background-color: #2e86ab;
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
}

nav a:hover {
    color:#2e86ab;
}

main {
    padding: 30px 50px;
}

h2 {
    color: #2e86ab;
    border-bottom: 3px solid #2e86ab;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
 
section {
    margin-bottom: 50px;
}

/* ABOUT ME STYLING */
.about-card {
    list-style:none;
    padding: 0;
}

.about-card p {
    background-color:white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 15px;
    border-left:5px solid #2e86ab; 
    font-weight: bold;
}

   /* FLEXBOX FOR HOBBIES */
    .hobby-box {
    display: flex;
    gap: 15px;
    width: 100%;
}

.hobby-item {
    background-color: #2e86ab;
    color:white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    flex: 1;
}

.hobby-item:hover {
    background-color: black;
}

/* GOALS STYLING */
.goals-list {
    list-style: none;
    padding: 0;
}

.goals-list li {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-left: 5px solid #2e86ab;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* CONTACT STYLING */
.contact-box {
    background-color: #a8dadc;
    color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.contact-box p {
    margin-bottom: 15px;
    font-size: 18px;
} 

button {
    background-color: #2e86ab;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2e86ab;
}

footer {
    background-color: #2e86ab;
    color: white;
    text-align: center;
    padding: 15px;
    /* ADD YOUR NEW LINE */
}

   